<nav class='navbar navbar-expand-lg bg-body-tertiary'>
  <div class='container-fluid'>
    <%= link_to 'Facebook', '#', class: 'navbar-brand' %>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav">
      <% if user_signed_in? %>
        <%= link_to 'Posts', posts_url, class: 'nav-link' %>
        <%= link_to 'Friends', friends_url, class: 'nav-link' %>
        <%= link_to 'Users', users_url, class: 'nav-link active' %>
        <%= link_to "Friends Requests #{FriendRequest.received_friend_requests(current_user.id).count}", friend_requests_url, class: 'nav-link' %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'nav-link') %>
      <% else %>
        <%= link_to 'Sign up', new_user_registration_url, class: 'nav-link' %>
        <%= link_to 'Login', new_user_session_url, class: 'nav-link' %>
      <% end %>
       </div>
    </div>
  </div>
</nav>