<div class='navbar'>
  <div class='links'>
    <%= link_to 'Friends', friends_url %>
  </div>
  <div class='profile'>
    <% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    <% else %>
      <%= link_to 'Sign up', new_user_registration_url %>
      <%= link_to 'Login', new_user_session_url %>
    <% end %>
    <%= link_to 'Users', users_url %>
    <%= link_to "Friends Requests #{FriendRequest.received_friend_requests(current_user.id).count}", friend_requests_url %>
  </div>
</div>